In [2]:
#Import dependencies: 
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report
from imblearn.over_sampling import RandomOverSampler

In [4]:
#Read the CSV File:
file_path = Path('Diabetes_Prediction_Clean.csv')
Diabetes_df = pd.read_csv(file_path)

#Review the DF
Diabetes_df.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Male,28.0,0,0,never,27.32,5.7,158,0
2,Female,36.0,0,0,current,23.45,5.0,155,0
3,Male,76.0,1,1,current,20.14,4.8,155,0
4,Female,20.0,0,0,never,27.32,6.6,85,0

In [5]:
#Replace Categorical with Numeric values:
get_pd.get_dummies(Diabetes_df)

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes,gender_Female,gender_Male,gender_Other,smoking_history_current,smoking_history_former,smoking_history_never
0,80.0,0,1,25.19,6.6,140,0,1,0,0,0,0,1
1,28.0,0,0,27.32,5.7,158,0,0,1,0,0,0,1
2,36.0,0,0,23.45,5.0,155,0,1,0,0,1,0,0
3,76.0,1,1,20.14,4.8,155,0,0,1,0,1,0,0
4,20.0,0,0,27.32,6.6,85,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
60175,26.0,0,0,34.34,6.5,160,0,1,0,0,0,0,1
60176,40.0,0,0,40.69,3.5,155,0,1,0,0,0,0,1
60177,66.0,0,0,27.83,5.7,155,0,0,1,0,0,1,0
60178,24.0,0,0,35.42,4.0,100,0,1,0,0,0,0,1
60179,57.0,0,0,22.43,6.6,90,0,1,0,0,1,0,0